/*Mobile Design*/
body{
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 60px;
}

.logo{
    width: 25px;
    height: 25px;
}

#hamburger-menu{
    width: 25px;
    height: 20px;
}

#close-menu{
    display: none;
    width: 25px;
    height: 20px;
}

#menu{
    display: none;
    width: 280px;
    height: auto;
    position: absolute;
    right: 50px;
    top: 80px;
    z-index: 99;
    border: solid 1px transparent;
    border-radius: 3px;
    text-align: center;
    padding: 25px 10px;
    background-color: #fff;
    box-shadow: -2px 3px 5px hsl(231, 7%, 65%);
}

#menu li{
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

hr{
    width: 90%;
    border: solid 0.5px hsl(231, 7%, 65%);
}

#menu #login{
    margin-top: 25px;
    margin-bottom: 0;
    color:hsl(231, 7%, 65%);
}

.illustration-container{
    width: 100%;
    margin-bottom: 80px;
}

.illustration{
    width: 120%;
    height: 120%;
    transform: translateX(45px);

    display: block;
    margin-left: auto;
}

.container{
    padding: 0;
}

.container-text{
    padding-left: 30px;
    padding-right: 30px;
}

.new-btn{
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    border: solid 1px transparent;
    color: hsl(207, 33%, 95%);
    background-color: hsl(230, 29%, 20%);
    border-radius: 50px;
    display: inline;
    padding: 3px 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    outline: none;
}

.monograph{
    display: inline;
    text-transform: uppercase;
    color:hsl(231, 7%, 65%);
    font-weight: 400;
    letter-spacing: 3px;
}

.title{
    font-size: 35px;
    text-transform: uppercase;
    color: hsl(230, 29%, 20%);
    font-weight: 700;
    margin-bottom: 15px;
}

.description{
    color: hsl(230, 11%, 40%);
    margin-bottom: 30px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

.demo-btn{
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 12px;
    background-color: hsl(0, 100%, 68%);
    color: hsl(207, 33%, 95%);
    display: inline;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    margin-right: 15px;
    margin-bottom: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
}

.demo{
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    color:hsl(231, 7%, 65%);
    font-weight: 400;
    letter-spacing: 2px;
}

/*Resposive Design*/

@media only screen and (min-width: 750px){
    
    .header{
        margin-top: 45px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 150px;
    }
    
    #hamburger-menu{
        display: none;
    }
    
    #menu{
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        box-shadow: 0 0 0;
        width: auto;
        height: auto;
        position: static;
        padding: 0;
        z-index: 99;
    }

    #menu li{
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 20px;
        
    }

    #menu li:hover{
        text-decoration: underline;
    }

    hr{
        height: 4px;
        width: 4px;
        background-color: hsl(231, 7%, 65%);
        border-radius: 50%;
        margin-right: 20px;
    }

    #menu #login{
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }

    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 0;
        overflow-x: hidden;
    }

    .illustration-container{
        width: 60%;
    }

    .illustration{
        width: 100%;
        height: 100%;
        display: block;
        transform: translateX(90px);
    }

    .container-text{
        padding: 20px 0 0 0;
        width: 45%;
    }
    
}

@media only screen and (min-width: 1000px){
    
    body{
        font-size: 22px;
    }
    .header{
        padding-left: 60px;
        padding-right: 60px;
    }

    #menu li{
        font-size: 18px;
    }

    .container{
        padding-left: 60px;
        padding-right: 0;
    }

    .illustration-container{
        width: 50%;
    }

    .illustration{
        width: 100%;
        height: 100%;
        transform: translateX(100px);
    }

    .container-text{
        width: 42%;
        padding-top: 30px;
    }

    .title{
        font-size: 40px;
        margin-bottom: 30px;
    }

    .description{
        margin-bottom: 40px;
    }
    
}

@media only screen and (min-width: 1200px){
    
    .header{
        padding-left: 80px;
        padding-right: 80px;
    }

    #menu li{
        font-size: 20px;
    }

    .container{
        padding-left: 80px;
        padding-right: 0;
    }

    .illustration-container{
        width: 50%;
        margin-bottom: 100px;
    }

    .illustration{
        width: 100%;
        height: 100%;
    }

    .container-text{
        width: 40%;
        padding-top: 30px;
    }
    
}

@media only screen and (min-width: 1400px){
    
    .header{
        padding-left: 100px;
        padding-right: 100px;
    }

    .container{
        padding-left: 100px;
        padding-right: 0;
    }

    .illustration-container{
        width: 50%;
        margin-bottom: 150px;
    }

    .illustration{
        width: 100%;
        height: 100%;
        transform: translateX(190px);
    }

    .container-text{
        width: 40%;
        padding-top: 30px;
    }
    
}



